.pictures-page {
  &__image-list {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}

.skeleton-123 {
  width: 200px !important;
  height: 200px !important;
}

@media (max-width: 900px) {
  .pictures-page {
    &__image-list {
      grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
  }
}
