.filelist-page {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
