.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: right;
  }

  &__card {
    width: 23rem;
    padding: 1rem;
  }

  &__card-subheader {
    font: 1rem;

    &--red {
      color: red;
    }
  }

  &__card-contents {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
  }

  &__text-field {
    display: block;
  }
}
