.toolbar {
  background: url("../assets/images/rclone-icon/logo_on_light__horizontal_color_256px.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.temporary-nav {
  & .MuiDrawer-paper {
    box-sizing: border-box;
    width: 260px;
  }
}

.permanent-nav {
  & .MuiDrawer-paper {
    box-sizing: border-box;
    width: 260px;
  }
}

@media (max-width: 600px) {
  .permanent-nav {
    display: none;
  }
}

@media (min-width: 600px) {
  .nav {
    width: 260px;
    flex-shrink: 0;
  }
}
