.global-navbar {
  width: 240px;
  flex-shrink: 0;

  & .MuiDrawer-paper {
    width: 240px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
  }

  &__link {
    color: inherit;
  }

  &__listitem-text {
    white-space: nowrap;
  }
}

@media (max-width: 900px) {
  .global-navbar {
    width: 57px;

    & .MuiDrawer-paper {
      width: 57px;
    }

    &--expanded {
      width: 240px;

      & .MuiDrawer-paper {
        width: 240px;
      }
    }
  }
}
