.global-app-bar {
  z-index: 1300 !important;
  position: relative !important;
  width: auto;
  height: auto;

  &__logo {
    background: url("../assets/images/rclone-icon/logo_on_light__horizontal_color_256px.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;

    height: 1.5rem;
  }

  &__nav-button {
    margin-right: 1rem;
  }
}

@media (min-width: 900px) {
  .global-app-bar {
    &__nav-button {
      display: none !important;
    }
  }
}
