.remote-card-list {
  display: flex;
  //   align-items: stretch;
  //   justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  &__item {
    // flex: 0 0;
    flex-grow: 1;
    // flex-grow: 1;
    // flex-shrink: 1;
    // flex-basis: 0;
  }
}
