.fileviewer-dialog {
  &__paper {
    max-height: 100%;
    max-width: 100%;
  }

  &__root {
    background-color: rgb(0 0 0 / 50%);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
  }

  &__header-content {
    color: white;
  }
}
